* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: seashell;
    opacity: 0.9;
}

nav {
    border-bottom: 1px solid seashell;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a:link {
    color: seashell;
    text-decoration: underline;
}

.logo-container {
    padding: 10px;
    height: 50px;
}

.logo {
    height:50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    max-width: 1200px;
    margin: 0 auto;
    background-size: cover;
}

.header-content {
    height: fit-content;
    flex: 1 1 auto;
    text-align: center;
    background-color: #000;
    padding: 15px;
}

/* Tea month section */

.tea-month {
    padding-top: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
}

.tea-range-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.tea-item {
    flex: 0 1 300px;
    margin: 15px;
}

.tea-item img {
    width: 100%;
}

.tea-item p {
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}

/*------------------------------*/

/* Location section */

.location {
    margin: 20px auto;
    max-width: 1200px;
    min-height: 500px;
    background-color: grey;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-container {
    width:100%;
}

.location-item-row {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.location-item-col {
    background-color: #000;
    margin: 20px;
    flex: 0 1 300px;
}

/*------------------------------*/

/* Contact section */

.contact {
    margin: 20px auto;
}

.contact-info {
    text-align: center;
}

.contact-info h5 {
    margin: 20px;
    font-size: 1.3rem;
}

/*------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .links-container a {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .tea-item p {
        font-size: 1.2rem;
    }
}

